<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAYrX_vXh2F9pK37xV_01ZrzgI5c2zsIU</string>
	<key>GCM_SENDER_ID</key>
	<string>691798319996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alasr.manager</string>
	<key>PROJECT_ID</key>
	<string>al-asr-manager-masajid</string>
	<key>STORAGE_BUCKET</key>
	<string>al-asr-manager-masajid.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691798319996:ios:8556f65d8ce6bd1d767af9</string>
</dict>
</plist>